@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Smooch&display=swap");
.headeR-Pyramid {
  margin-bottom: 1rem;
  background: #0F2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}
.headeR-Pyramid .pyramiD-Text {
  color: white;
}
.headeR-Pyramid .PyramiD-Logo {
  height: 4rem;
}

* {
  font-family: "Iceberg", cursive;
}

.fondO-Color {
  background-repeat: repeat;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.naV-Pyrmid {
  margin: 3rem 2rem 0rem 0rem;
  justify-content: space-between;
  display: flex;
}
.naV-Pyrmid .lI-Nav {
  list-style: none;
}
.naV-Pyrmid .A-Nav-destopk {
  color: #ffa500;
  text-decoration: none;
}
.naV-Pyrmid .A-Nav-destopk:hover {
  transition: 1s;
  font-size: 1.2rem;
  color: #f857a6; /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #ff5858, #f857a6); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.asidE-Nav {
  display: inline;
}
.asidE-Nav .asidE-Ul {
  border-radius: 0rem 1rem 1rem 0rem;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-decoration: none;
  margin-top: 3rem;
  margin-left: 1rem;
  padding-right: 3rem;
  display: inline-flex;
  flex-direction: column;
}
.asidE-Nav .asidE-Ul .li-aside {
  list-style: none;
  padding: 0rem 0rem 0rem 0rem;
  margin: 2rem 2rem 2rem 0rem;
}
.asidE-Nav .asidE-Ul .A-Aside {
  padding-left: 1rem;
  text-decoration: none;
  color: #ffa500;
}

.card {
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 8rem;
  width: 20rem;
}
.card:hover {
  transition: 1s;
  width: 21rem;
}
.card .card-text {
  padding-right: 1rem;
  margin-right: 3rem;
  color: black;
}
.card .card-title {
  color: black;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 768px) {
  .videO-Pixels {
    display: none;
  }
  .headeR-Pyramid {
    display: none;
  }
  .naV-Pyrmid {
    display: none;
  }
  .asidE-Nav {
    display: none;
  }
  .navbar {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .navbar .navbar-toggler {
    border: none;
    background: #acb6e5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .carousel {
    margin-top: 5rem;
  }
  .dropdown {
    margin-bottom: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
